<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="HandheldFriendly" content="true">
    <meta name="msapplication-tap-highlight" content="no">
    <title>【汝州亚晨猎豹4s店】车载收纳箱免费送  </title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-table.min.css">
    <link rel="stylesheet" href="/static/css/bootstrapValidator.css"/>
    <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="/static/js/layer/layer.js"></script>
    <script src="/static/js/bootstrapValidator.js"></script>
    <!--微信官方sdk-->
    <!--<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>-->
    <style>
        #top img {
            background-size: contain | cover;
            width: 100%;
            height: auto;
        }
        .right {
            text-align: right;
            margin-top: 6px;
        }

        .dev_1 {
            background-color: #8a6d3b;
        }
        .dev_1 p {
            font-size: 20px;
            color: #ffbd15;
        }
        .td-align {
            text-align: left;
            font-size: 12px;

        }
    </style>

</head>

<body>
<div id="top" class="top">
    <img class="img-fluid" src="static/image/home.png">
</div>
<div id="main" class="text-center ">
    <p>亚晨猎豹六周年店庆放大招</p>
    <table class="table table-striped table-bordered">
        <thead>

        </thead>
        <tbody>
        <tr>
            <td>门店名称</td>
            <td class="td-align">汝州市亚晨汽车销售服务有限公司</td>
            <td>选择门店</td>
        </tr>
        <tr>
            <td>联系电话</td>
            <td class="td-align"><span style=" margin-top: 6px">0375-3339188</span></td>
            <td><a href="tel:0375-3339188">点击拨号</a></td>
        </tr>
        <tr>
            <td>门店地址</td>
            <td class="td-align">汝州市北环路西段路北338号</td>
            <!--<td><a href="javascript:function alertMap() { $('#dituContent').css('display','block') }">查看地图</a></td>
           -->
            <td><a href="/map">查看地图</a></td>
        </tr>
        </tbody>
    </table>
</div>
<dev class="text-center">

    <dev class="dev_1">
        <p>填写信息领取奖品</p>
    </dev>
    <form class="form-horizontal" role="form" id="dateForm">
        <div class="form-group">
            <input type="hidden" id="shopId" value="1">
            <label for="name" class="col-xs-3 control-label right" >姓&emsp;&emsp;名*</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" id="name" name="name" placeholder="请输入姓名">
            </div>
        </div>
        <div class="form-group">
            <label for="tel" class="col-xs-3 control-label right">电话号码*</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" id="tel" name="tel" placeholder="请输入电话号码">
            </div>
        </div>
        <div class="form-group">
            <label for="carType" class="col-xs-3 control-label right">车&emsp;&emsp;型*</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" id="carType" name="carType" placeholder="请输入车型">
            </div>
        </div>
        <div class="form-group">
            <label for="carNumber" class="col-xs-3 control-label right">车牌号码*</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" id="carNumber" name="carNumber" value="豫D" placeholder="请输入车牌号">
            </div>
        </div>
        <div class="form-group  " style="margin-left: 10px;margin-right: 10px">
            <div >
                <button type="submit" class="btn btn-success btn-block" id="submit" onclick="submitDate()">
                    点击右上角分享并领取</button>
            </div>
        </div>
        <div class="form-group  " style="margin-left: 70px;margin-right: 70px">
            <div >
                <button type="submit" class="btn btn-danger btn-block" id="date" >
                    活动时间【<span id="showStartTime"></span>--<span id="endStartTime"></span>】
                </button>
            </div>
        </div>
    </form>
</dev>
<dev>
    <dev class="text-center">
        <p>已报名领取: &emsp;<span id="count"></span></p>
        <table class="table table-striped table-bordered" id="tableItem"></table>
    </dev>
</dev>
</body>
</html>
<script>
    $(function () {
        refreshCounts();
        validator();
    })

    function compareDate(startTime,endTime) {
        var dateTime = new Date();
        startTime = new Date(dateTime.getFullYear()+"."+startTime)
        endTime = new Date(dateTime.getFullYear()+"."+endTime)
        if (dateTime.getTime() < startTime.getTime() ) {
            $("#submit").attr("disabled", "true");
            $("#carNumber").attr("disabled", "true");
            $("#name").attr("disabled", "true");
            $("#tel").attr("disabled", "true");
            $("#carType").attr("disabled", "true");
            $("#submit").css("background-color", "#6f6e61");
            $("#submit").text("活动未开始");
        } else if (dateTime.getTime() > endTime.getTime()) {
            $("#submit").attr("disabled", "true");
            $("#carNumber").attr("disabled", "true");
            $("#name").attr("disabled", "true");
            $("#tel").attr("disabled", "true");
            $("#carType").attr("disabled", "true");
            $("#submit").css("background-color", "#6f6e61");
            $("#submit").text("活动已结束");
        }
    }
    function loadData() {
        $("#tableItem").bootstrapTable({
            url: "/registerInfo/app/queryAllRegister",
            clickToSelect: true,    	//是否启用点击选中行
            columns: [
                {
                    title: '序号', align: 'center', width: 50, formatter: function (value, row, index) {
                        return index + 1;
                    }
                },
                {title: 'id', field: 'id', visible: false, align: 'center', valign: 'middle'},
                {title: '车牌号', field: 'carNumber', visible: true, align: 'center', valign: 'middle'},
                {
                    title: '登记时间',
                    field: 'createTime',
                    visible: true,
                    align: 'center',
                    valign: 'middle',
                    formatter: function (value) {
                        return changeDateFormat(value)
                    }
                },
                {
                    title: '领取状态',
                    field: 'isCome',
                    visible: true,
                    align: 'center',
                    valign: 'middle',
                    formatter: function (value) {
                        if (value == 1) {
                            return "已领取"
                        } else if (value == 0) {
                            return "已登记"
                        }
                    }
                }
            ],

        })
    }

    function changeDateFormat(cellval) {
        if (cellval != null) {
            var date = new Date(cellval);
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            var hours = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
            var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
            var seconds = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
            return month + "-" + currentDate + " " + hours + ":" + minutes;
        }
    }
    function changeDateFormat2(cellval) {
        if (cellval != null) {
            var date = new Date(cellval);
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            var hours = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
            var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
            var seconds = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
            return month + "." + currentDate ;
        }
    }

    function refreshCounts() {
        $.ajax({
            url: '/registerInfo/getCounts',
            type: 'GET',
            date: {},
            success: function (date) {
                $("#count").text(date)
            }

        })
        loadData();
        getTime();
    }
function getTime() {
    $.ajax({
        url: '/registerInfo/getTime',
        type: 'GET',
        date: {},
        success: function (date) {
            var startTime = changeDateFormat2(date.startTime);
            var endTime = changeDateFormat2(date.endTime);
            $("#showStartTime").text(startTime);
            $("#endStartTime").text(endTime);
            compareDate(startTime, endTime);
        }

    })
}
    function validator() {
        $("#dateForm").bootstrapValidator({
//		提示的图标
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',			// 有效的
                invalid: 'glyphicon glyphicon-remove',		// 无效的
                validating: 'glyphicon glyphicon-refresh'	// 刷新的
            },
//		属性对应的是表单元素的名字
            fields: {
//			匹配校验规则
                name: {
                    validators: {
                        message: '姓名无效',	// 默认提示信息
                        notEmpty: {
                            message: '姓名不能为空'
                        }
                    }
                },
                tel: {
                    validators: {
                        message: '手机号码无效',
                        notEmpty: {
                            message: '手机号码不能为空'
                        },
                        stringLength: {
                            min: 11,
                            max: 11,
                            message: '手机号码位数不正确'
                        },
                        regexp: {
                            regexp: /^1([38][0-9]|4[579]|5[0-3,5-9]|6[6]|7[0135678]|9[89])\d{8}$/,
                            message: '请输入正确的手机号码'
                        }
                    }
                },
                carType: {
                    validators: {
                        message: '车型无效',
                        notEmpty: {
                            message: '车型不能为空'
                        },
                        stringLength: {
                            min: 1,
                            max: 20,
                            message: '车型不要太长'
                        }
                    }
                },
                carNumber: {
                    validators: {
                        message: '车牌号无效',
                        notEmpty: {
                            message: '车牌号不能为空'
                        },
                        regexp: {
                           /* regexp: /([京津沪渝冀豫云辽黑湘皖鲁新苏浙赣鄂桂甘晋蒙陕吉闽贵粤青藏川宁琼使领A-Z]{1}[A-Z]{1}(([0-9]{5}[DF])|([DF]([A-HJ-NP-Z0-9])[0-9]{4})))|([京津沪渝冀豫云辽黑湘皖鲁新苏浙赣鄂桂甘晋蒙陕吉闽贵粤青藏川宁琼使领A-Z]{1}[A-Z]{1}[A-HJ-NP-Z0-9]{4}[A-HJ-NP-Z0-9挂学警港澳]{1})/,
                           */
                            regexp: /^[\u4E00-\u9FA5][\da-zA-Z]{6}$/,
                           message: '请输入正确的车牌号'
                        }
                    }
                }
            }
        });
    }

    function submitDate() {
        $("#dateForm").bootstrapValidator('validate');
        if ($("#dateForm").data('bootstrapValidator').isValid()) {//获取验证结果，如果成功，执行下面代码
            var form = $('#dateForm');	// 可以通过选择器直接选择
            var date = JSON.stringify(getFormData(form))
            $.ajax({
                type: "post",
                url: "/registerInfo/submitDate",
                data: date,
                dataType: 'json',
                contentType: 'application/json; charset=UTF-8',
                success: function (response) {
                    if (response.flag == true) {
                        refreshCounts();
                    } else {
                        $('#dateForm').bootstrapValidator('disableSubmitButtons', false);
                        //form.bootstrapValidator('disableSubmitButtons', false);
                        if (response.error == 1000) { // 后台接口如果返回error=1000表示name错误
                            form.data('bootstrapValidator').updateStatus('username', 'INVALID', 'callback');
                        } else if (response.error == 1001) { // 后台接口如果返回error=1001表示密码错误
                            form.data('bootstrapValidator').updateStatus('password', 'INVALID', 'callback');
                        }
                    }
                    $('#dateForm').data('bootstrapValidator').resetForm();
                }
            });
        }
        $('#dateForm').bootstrapValidator('disableSubmitButtons', false);
    }

    function getFormData($form) {
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};
        $.map(unindexed_array, function (n, i) {
            indexed_array[n['name']] = n['value'];
        });
        return indexed_array;
    }
</script>


<!--wx3a6b2307642586af-->
<!--
<script type="text/javascript" src="../static/js/txmap/jweixin-1.2.0.js" ></script>
<script type="text/javascript">
    var imgUrl = '../static/image/home.png';
    var lineLink = 'localhost/';
    var descContent = '到店即可免费领取收纳箱、免费发动机清洗、免费氟利昂。购新车可享受五年免费保养、免购置税、免保险、免上牌，更有10吨汽油免费送！';
    var shareTitle = '【汝州亚晨猎豹4s店】车载收纳箱免费送';
    var appid = '';

    $.ajax({
        type : 'POST',
        url :  "http://dev.mymax.cn/running/comm/weixin/open/jsSDKConfig", //这个地址并非通用且长期有效，请去微信官方查看文档，并自行配置
        dataType : "json",
        data:{url:window.location.href},
        success : function(response){
            var appId = response.s.appId;
            var timestamp = response.s.timeStamp;
            var nonceStr = response.s.nonceStr;
            var signature = response.s.signature;

            wx.config({
                debug: false,
                appId: appId,
                timestamp: timestamp,
                nonceStr: nonceStr,
                signature: signature,
                jsApiList: [
                    'checkJsApi',
                    'onMenuShareTimeline',
                    'onMenuShareAppMessage'
                ]
            });
            wx.ready(function() {

                wx.onMenuShareTimeline({
                    title: shareTitle, // 分享标题
                    link: lineLink, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                    imgUrl: imgUrl, // 分享图标
                    success: function () {
                        // 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });
                wx.onMenuShareAppMessage({
                    title: shareTitle, // 分享标题
                    desc: descContent, // 分享描述
                    link: lineLink, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                    imgUrl: imgUrl, // 分享图标
                    type: '', // 分享类型,music、video或link，不填默认为link
                    dataUrl:'' , // 如果type是music或video，则要提供数据链接，默认为空
                    success: function () {
                        // 用户确认分享后执行的回调函数

                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });
            });
        },
        error:function(response){
           // window.parent.growl("删除失败["+response.responseText+"]!","error");
        }
    });
</script>-->
